<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Headline in the system menu -->
        <add id="Brainworxx_M2krexx::krexx_debugger" title="kreXX Debugger"              module="Brainworxx_M2krexx" sortOrder="100" parent="Magento_Backend::system"            resource="Brainworxx_M2krexx::configure"/>
        <add id="Brainworxx_M2krexx::config_edit"    title="Edit configuration file"     module="Brainworxx_M2krexx" sortOrder="10"  parent="Brainworxx_M2krexx::krexx_debugger" resource="Brainworxx_M2krexx::configure" action="m2krexx/config/edit"/>
        <add id="Brainworxx_M2krexx::config_fe"      title="Edit FE config"              module="Brainworxx_M2krexx" sortOrder="20"  parent="Brainworxx_M2krexx::krexx_debugger" resource="Brainworxx_M2krexx::configure" action="m2krexx/config/fe"/>
        <add id="Brainworxx_M2krexx::log_access"     title="Logfile access"              module="Brainworxx_M2krexx" sortOrder="30"  parent="Brainworxx_M2krexx::krexx_debugger" resource="Brainworxx_M2krexx::configure" action="m2krexx/logging"/>
        <add id="Brainworxx_M2krexx::cookies"        title="Edit local browser settings" module="Brainworxx_M2krexx" sortOrder="40"  parent="Brainworxx_M2krexx::krexx_debugger" resource="Brainworxx_M2krexx::configure" action="m2krexx/cookies"/>
    </menu>
</config>

